<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinnhn">

    <application
        android:allowBackup="true"
        android:icon="@drawable/message"
        android:label="Tin Nhắn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:label="Tin Nhắn"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity
            android:name=".taikhoan.DangKiActivity"
            android:label="Đăng Nhập"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity
            android:name=".HoiThoaiActivity"
            android:label="Tên Người gửi"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TinNhanMoi">

        </activity>
        <activity
            android:name=".taikhoan.LoginActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".taikhoan.QuenMatKhauActivity"/>
    </application>

</manifest>
