<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinnhn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="Chat Room"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".SearchMessageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity
            android:name=".SearchFriendsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TinNhanMoi" />

        <service android:name=".Call.SinchServices" />

        <activity
            android:name=".taikhoan.LoginActivity"
            android:label="Chat Room"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Call.testcall" />
        <activity android:name=".Call.AudioCall" />
        <activity android:name=".Call.CuocGoi_Screen" />
        <activity android:name=".Call.BaseActivity" />
        <activity android:name=".Call.CuocGoiToi_Screen" />
        <activity android:name=".Call.Dialer" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Call.GroupListActivity" />
        <activity
            android:name=".Call.GroupHoiThoaiActivity"
            android:theme="@style/TinNhanMoi" />
        <activity android:name=".Call.GroupCallActivity" />
        <activity
            android:name=".HoiThoaiActivity"
            android:label="Tên Người gửi"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TinNhanMoi" />
        <activity
            android:name=".taikhoan.ThemTinhThanhActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".taikhoan.DangKiActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".taikhoan.QuenMatKhauActivity" />
        <activity android:name=".taikhoan.ThemAnhActivity" />
        <activity android:name=".taikhoan.StorageActivity" />
    </application>

</manifest>